* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    overflow: auto;
}

.cursor,
.marker {
    width: 100px;
    height: 100px;
    border: 2px dotted black;
    border-radius: 50%;

    overflow: hidden;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    pointer-events: none;
    transition: all 200ms ease;
    transition-property: opacity, background, border, transform;
    z-index: 999;

    animation: rotate 10s linear infinite;
}

.cursor.hidden {
    opacity: 0;
}

.marker {
    animation: none;
    border: 5px dotted gray;
    transition: none;
    display: none;

    background: rgb(255, 255, 255, 0.2);
}

.marker.active {
    display: block;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.characters_dropdown {
    display: inline-block;

    position: absolute;
    pointer-events: none;

    background: white;
    border: 2px solid black;
    pointer-events: none;
    visibility: hidden;

    text-align: center;
}

.characters_dropdown.active {
    visibility: visible;
    pointer-events: all;
}

.option {
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: font-size 700ms ease-in-out, padding 700ms ease-in-out;

    cursor: pointer;
}

.option:hover {
    padding: 2px;
    font-size: 1.3rem;
}

.option:not(:last-child) {
    border-bottom: 2px solid blue;
    padding: 5px;
}

.main_content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.bg_container {
    /* position: relative; */
    flex-grow: 1;
    min-height: 100vh;
}

.background_image {
    max-width: 100%;
    max-height: 100%;
}

.top_bar {
    background: #888;
    padding: 10px 0;
    user-select: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    gap: 10px;

    z-index: 10;
}

.challenge {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.challenge p {
    font-weight: bold;
    font-size: 2rem;
}

.challenge .toggle_lens {
    border-radius: 15px;
    outline: 1px solid purple;
    border: none;
    padding: 3px 10px;
    font-weight: bold;
    background: white;
    cursor: pointer;
}

.toggle_lens.on {
    background: rgb(0, 255, 0, 0.5);
}

.toggle_lens.off {
    background: rgb(255, 0, 0, 0.5);
}

.challenge .toggle_lens:hover {
    background: #ddd;
}

.targets {
    display: flex;
    justify-content: space-around;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
    gap: 10px;

    font-weight: bold;
}

.target .name.found {
    color: green;
}

/* .zoom_container {
    position: relative;
} */

.zoom_lens {
    position: absolute;
    border: 1px solid red;

    top: 0;
    left: 0;

    pointer-events: none;

    width: 40px;
    height: 40px;

    z-index: 999;
    background: rgb(255, 255, 255, 0.3);
}

.zoom_result {
    border: 1px solid red;

    background-repeat: no-repeat;
    position: absolute;

    pointer-events: none;

    top: 0;
    left: 50%;

    width: 300px;
    height: 300px;

    z-index: 999;
}

.zoom_lens.hidden,
.zoom_result.hidden {
    opacity: 0;
}
