* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: linear-gradient(to left, purple, pink);
    height: 100vh;
}

.cursor,
.marker {
    width: 100px;
    height: 100px;
    border: 2px dotted black;
    border-radius: 50%;

    overflow: hidden;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    pointer-events: none;
    transition: all 200ms ease;
    transition-property: opacity, background, border, transform;
    z-index: 999;

    animation: rotate 10s linear infinite;
}

.cursor.hidden {
    opacity: 0;
}

.marker {
    animation: none;
    border: 5px dotted gray;
    transition: none;
    display: none;
}

.marker.active {
    display: block;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.characters_dropdown {
    display: inline-block;

    position: absolute;
    pointer-events: none;

    border: 2px solid black;
    pointer-events: none;
    visibility: hidden;

    text-align: center;
}

.characters_dropdown.active {
    visibility: visible;
    pointer-events: all;
}

.character_option {
    padding: 5px;
    font-weight: bold;
}

.character_option:not(:last-child) {
    border-bottom: 2px solid blue;
    padding: 5px;
}
